body{
    margin: 0px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}


.runeShopButton {
    background: transparent;
    border: none;
}



.centralDiv {
    align-self: center;
    align-items: center;
}

.search-input {
    border: none;
    border-radius: 14px;
    font-size: 16px;
    color: purple;
}
.search-icon {
    color: white;
}


.cartButton {
    background: transparent;
    border: none;
}

.cart-icon {
    color: white;
}
.menu-icon {
    color: white;
}